version: '3.8'
services:
  app:
    build: .
    image: tpaddressmines_app:latest
    depends_on:
      - mysql
    environment:
      NODE_ENV: development
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: "${MYSQL_USER:-root}"
      DB_PASSWORD: "${MYSQL_PASSWORD:-password}"
      DB_NAME: "${MYSQL_DATABASE:-tpaddress}"
    ports:
      - "3000:3000"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-password}"
      MYSQL_DATABASE: "${MYSQL_DATABASE:-tpaddress}"
      MYSQL_USER: "${MYSQL_USER:-user}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-password}"
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
